.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nosecone {
    position: absolute;
    top: 20vh;
}

#flightComputer {
    position: absolute;
    top: 70vh;
}

#solidRocketMotor {
    position: absolute;
    top: 120vh;
}

#aeroSurface {
    position: absolute;
    top: 200vh;
}

#flightPredictions {
    position: relative;
    top: 220vh;
}

#ζ-progress {
    width: 100%;
    background-color: #f1f1f1;
    height: 30px;
}

#ζ-progressBar {
    width: 0%;
    height: 30px;
    background-color: blue;
    color: white;
    font-family: 'Trebuchet MS';
}